/* .App {
  text-align: center;
} */

.app__messages{
  padding:20px;
  margin-top: 20px;
 
  margin-bottom: 80px;
}

.app__form{
  display: flex;
  width:100%;
  position: fixed;
  z-index: 10;
  background-color: white;
  bottom: 0;
}

.app__form__input{

  width:100%;
}

.app__emojiBox{
  position: fixed!important;
  bottom: 0;
  left: 0;
  z-index: 9;
}